.toggle-button {
  padding: 6px 12px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 0.875rem;
  letter-spacing: -0.05rem;
  cursor: pointer;
  transition: all 0.8s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  transform: scale(1.05);
}

.description-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.description {
  padding: 8px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  line-height: 1.2;
  min-width: 20rem;
  max-width: 20rem;
  font-family: 'Authentic-Sans', sans-serif;
  letter-spacing: 0rem;
}

.description-preview {
  cursor: pointer;
}

.description-full {
  cursor: default;
}
