.toggle-button {
  padding: 6px 12px;
  background-color: oklch(27.4% 0.006 286.033);
  color: rgba(255, 255, 255);
  border-width: 1px;
  border-color: oklch(44.2% 0.017 285.786);
  border-radius: 8px;
  font-family: inherit;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 2px 20px -2px rgb(255, 255, 255, 0.1);
}

.toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  box-shadow: 0 2px 20px -1px rgb(255, 255, 255, 0.2);
}

.content {
  font-size: 0.875rem;
  line-height: 1.2;
  min-width: 20rem;
  max-width: 20rem;
  font-family: inherit
}

.description-preview {
  cursor: pointer;
}

.description-full {
  cursor: default;
}
