@import "tailwindcss";

@font-face {
  font-family: 'Authentic-Sans';
  src: url('./assets/fonts/authentic-sans-60.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LeagueMono';
  src: url('./assets/fonts/LeagueMono-NarrowThin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'LeagueMono', mono;
  line-height: 1.5rem;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  height: 100%;
  min-height: 100%;
  touch-action: none;
}

h1 {
  font-size: var(--h1);
  line-height: 1.2;
}
h2 {
  font-size: var(--h2);
  line-height: 1.2;
}
h3 {
  font-size: var(--h3);
  line-height: 1.2;
}
h4 {
  font-size: var(--h4);
  line-height: 1.2;
}
h5 {
  font-size: var(--h5);
  line-height: 1.2;
}

p {
  font-size: 0.875rem;
}