@font-face {
  font-family: 'Necto-Mono';
  src: url('./assets/fonts/NectoMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Necto-Mono', monospace;
  line-height: 1.2;
  letter-spacing: -0.05rem;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: white;
}

h1 {
  font-size: var(--h1);
  line-height: 1.2;
}
h2 {
  font-size: var(--h2);
  line-height: 1.2;
}
h3 {
  font-size: var(--h3);
  line-height: 1.2;
}
h4 {
  font-size: var(--h4);
  line-height: 1.2;
}
h5 {
  font-size: var(--h5);
  line-height: 1.2;
}

p {
  font-size: 0.875rem;
}